.card-header {
  background-color: #129CF3;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 400px;
}

.btn-primary, .btn-primary:focus, .btn-primary:visited, .btn-primary:active {
  background: transparent;
  border-color: #129CF3;
  border-radius: 3px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 19px;
  color: #129CF3;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  text-transform: uppercase;
}

.btn-primary:hover {
  color: #fff;
  background-color: #129CF3;
}
